# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.eggs
*.env
.env/
.venv/
build/
dist/
*.egg-info/
*.eggs/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/
# Jupyter Notebook
.ipynb_checkpoints
# pyenv
.python-version
# celery beat schedule files
celerybeat-schedule
# dotenv
.env
.env.*
# virtualenv
venv/
ENV/
# Spyder project settings
.spyderproject
.spyproject
# Rope project settings
.ropeproject
# mkdocs documentation
/site
# mypy
.mypy_cache/
# Pyre type checker
.pyre/
# pytype static type analyzer
.pytype/
# Cython debug symbols
cython_debug/
# VS Code
.vscode/
